<h1 class="page-header">
  Blog Feeds
</h1>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
  </div>


  <button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>
  <button [disabled]="loadBlog" type="button" name="button" class="btn btn-default"  *ngIf="!newPost" (click)="loadBlogPosts()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload Post</button>

<br>
<br>

<!-- new blog for, -->

<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
<div class="form-group">
  <label for="title">Title</label>
  <div>
    <input type="text" name="title" class="form-control" placeholder="*Blog Title" autocomplete="off" formControlName="title"/>
  </div>

</div>
<div class="form-group">
  <label for="body">Body</label>
  <div>
    <textarea name="body" rows="8" cols="80" placeholder="*Body" class="form-control"  formControlName="body"></textarea> 
  </div>

</div>
<button  [disabled]="processing" type="button" class="btn btn-sm btn-warning" name="button" (click)="goBack()">Go Back</button>
<button  [disabled]="processing ||  !form.valid"   class="btn btn-sm btn-success" name="button">Submit</button>
</form>


<div *ngIf="!newPost">
  <div class="panel panel-primary" *ngFor="let blog of blogPosts" >
    <div class="panel-heading">
      <h3 class="panel-title">{{blog.title}}</h3>
    </div>
    <div class="panel-body">
      {{ blog.body }} 
       </div>
    <div class="panel-footer">
      <p><strong>Posted by:</strong>{{blog.createdBy}}</p>
      <p><strong>Date:</strong> {{ blog.createdAt | date: 'MMM dd, yyyy' }}</p>
      <div *ngIf="userName === blog.createdBy" >
        <p><strong>Likes:</strong>{{ blog.likes }}</p>
        <p><strong>Dislikes:</strong>{{ blog.dislikes }}</p>
      </div> 
      <a [routerLink]="['/edit-blog/',blog._id]" *ngIf="userName === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <a [routerLink]="['/delete/',blog._id]" *ngIf="userName === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
       
      <div class="dropdown">
        <button type="button" name="button" class="btn btn-sm btn-success"  *ngIf="userName !== blog.createdBy">
          <span class="glyphicon glyphicon-thumbs-up">&nbsp;Likes: 25</span>
        </button>
        <div class="dropdown-content">
          <a href="#">Samba</a>
          <a href="#">Mani</a>
          <a href="#">prerana</a>
        </div>
      </div>   
         <div class="dropdown">
        <button type="button" name="button" class="btn btn-sm btn-warning"  *ngIf="userName !== blog.createdBy">
          <span class="glyphicon glyphicon-thumbs-down">&nbsp;Dislikes: 25</span>
        </button>
        <div class="dropdown-content">
          <a href="#">Samba</a>
          <a href="#">Mani</a>
          <a href="#">prerana</a>
        </div>
      </div>
      <br/>

<!--footer end -->
<ul class="list-group">
  <li class="list-group-item">
    <button type="button" name="button" class="btn btn-sm btn-danger" (click)="commentPost()">Post Comment</button>
  <br />
  <!--<form>
    <textarea name="comment" rows="10" cols="30" class="form-control"></textarea>
    <button name="button" type="button" class="btn btn-sm btn-info">Submit Post</button>
    <button name="button" type="button" class="btn btn-sm btn-danger">Cancel</button>
  </form>-->
  </li> 
</ul>




    </div> 
  </div>
</div>